@import "./../../../../styles.scss";

/* Side navigation header */
.head-side-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;

  span {
    font-size: 24px;
    font-weight: 700;
  }

  .head-side-menu-first {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;

    img {
      cursor: pointer;
    }
  }
}

/* Styling for the link in the side navigation header */
.head-side-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  padding: 3px;
  border-radius: 50%;

  img {
    height: 40px;
    width: 40px;
  }

  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    .edit-square-button {
      content: url("./../../../../assets/images/icons/16.\ edit_square_blue.svg");
    }

    .add-channel-button {
      content: url("./../../../../assets/images/icons/add_icon_blue.svg");
    }
  }
}

/* Styling for the header of channels */
.channels-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

.channel-head-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 35px;
  width: fit-content;
  cursor: pointer;

  .drop-down-img,
  .arrow-drop-down {
    height: 10px;
    width: 10px;
  }

  &:hover {
    .drop-down-img,
    .arrow-drop-down {
      content: url("./../../../../assets/images/icons/arrow_drop_down_blue.svg");
    }

    .contact-list-account-img {
      content: url("./../../../../assets/images/icons/account_circle_blue.svg");
    }

    .contacts-list {
      color: #535af1;
    }
  }
}

/* Styling for the channels list */
.channels-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  height: 40px;
  width: fit-content;
  gap: 15px;
  transition: padding 200ms ease-in-out;
  transition: margin 200ms ease-in-out;

  img {
    height: 27px;
  }

  span {
    font-size: 20px;
    font-weight: 700;
  }

  &:hover {
    img {
      content: url("./../../../../assets/images/icons/workspace_blue.svg");
    }

    color: #535af1;
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  height: 40px;
  width: fit-content;
  gap: 15px;
  transition: padding 200ms ease-in-out;

  img {
    height: 27px;
  }

  span {
    font-size: 20px;
    font-weight: 700;
  }

  &:hover {
    img {
      content: url("./../../../../assets/images/icons/account_circle_blue.svg");
    }
    color: #535af1;
  }
}

.channel-add {
  &:hover {
    img {
      content: url("./../../../../assets/images/icons/add_circle_blue.svg");
    }
  }
}

/* Styling for table data in channels and contacts */
.channels {
  width: 100%;

  tr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  td {
    height: 33px;
    font-size: 18px;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 4px 20px 4px 20px;
    border-radius: 20px;
    overflow-x: hidden;
    /* Hover effect for table data in channels and contacts */
    &:hover {
      background-color: #eceefe;

      .span-hashtag {
        color: #535af1;
      }
    }
  }

  .span-hashtag {
    font-weight: 600;
    font-size: 21px;
  }
}

.direct-message-users-container {
  position: relative;
}

.table-row {
  display: flex;
  flex-direction: column;
}

.offline {
  height: 14px;
  width: 14px;
  position: absolute;
  left: 56px;
  bottom: 6px;
  border: 2px solid white;
  border-radius: 100%;
  background-color: $text-gray;
}

.post-result {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .result-name-post {
    display: flex;
    gap: 4px;

    span {
      font-weight: 400;
    }
  }
}

.contacts {
  width: 100%;

  tr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  td {
    height: 58px;
    font-size: 18px;
    width: 70%;
    display: flex;
    padding: 0px 25px 0px 25px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: padding 100ms ease-in-out;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 5px;
    }

    span {
      font-size: 18px;
    }

    &:hover {
      border-radius: 30px;
      background-color: #eceefe;
    }
  }

  .online {
    height: 14px;
    width: 14px;
    position: absolute;
    left: 56px;
    bottom: 6px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: $online-green;
  }
}

.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.list {
  position: absolute;
  z-index: 1000;
  top: 11.5%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 300px;
  padding: 20px;
}

.searchBar input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 15px;
  border: none;
  border: 1px solid #ccc;
  height: 45px;
}

.d-none {
  display: none;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: fit-content;
  max-height: 400px;
  overflow-x: auto;
}

.list li {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}

.list li:hover {
  background-color: $purple2;
  border-radius: 30px;
  color: white;
}

.container-name-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.container-name-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 45px;
  height: fit-content;

  span {
    font-size: 20px;
    font-weight: bold;
  }
  img {
    max-height: 30px;
    margin-right: 20px;
  }
}

.name-avatar {
  img {
    max-height: 70px;
  }
}

@media (max-width: 800px) {
  .channels-head {
    width: 400px;
    .mat-drawer.mat-drawer-side {
      width: 100% !important;
    }
  }

  .head-side-menu {
    width: 400px;
  }

  .contacts,
  .channels {
    td {
      width: 350px;
    }
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .d-none {
    display: flex;
    width: 400px;
  }
}

@media (max-width: 440px) {
  .contacts,
  .channels {
    td {
      width: 240px;
    }
  }

  .channels-head {
    width: 275px;
  }

  .head-side-menu {
    width: 290px;
  }

  .d-none {
    display: flex;
    width: 300px;
  }

  .searchBar {
    width: 290px;
  }
}