<section *ngIf="channel">
    <mat-card>
        <mat-card-content>
            <div class="header">
                <div>
                    <p><img src="assets/images/icons/tag.svg"> {{ channel.name }}</p>
                    <button (click)="onNoClick()" mat-icon-button>
                        <img src="assets/images/icons/close.svg">
                    </button>
                </div>
            </div>
            <div class="channel-name-container">
                <div class="edit-container"><span>Channel-Name</span><button (click)="openDialog()">Bearbeiten</button></div>
                <div class="name-container"><img src="assets/images/icons/tag.svg">
                    <p>{{ channel.name }}</p>
                </div>
            </div>
            <div class="channel-info-container">
                <div class="edit-container"><span>Beschreibung</span><button (click)="openDialog()">Bearbeiten</button></div>
                <span class="description">{{ channel.description }}</span>
                <hr>
                <div>
                    <span class="created-by">Erstellt von<p>{{ channel.users[0].name }}</p></span>
                </div>
            </div>
            <div class="button-container">
                <div class="message-button">
                    <button (click)="leaveChannel()">Channel verlassen</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
