@import "./../../../../../styles.scss";
mat-card {
    width: 100%;
    height: 100vh;
    padding: 40px;
    font-family: 'Nunito';
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    display: flex;
    top: 0;
    flex-direction: column;
    gap: 20px;
    height: fit-content;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;

        p {
            display: flex;
            gap: 15px;
            font-size: 24px;
            font-weight: 700px;
            line-height: 32.74px;
            margin: 0;
        }
    }

    button {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: scale 75ms ease-in-out;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-radius: 100%;

        &:hover {
            cursor: pointer;
            background-color: $background;
            scale: 1.05;

            img {
                content: url("./../../../../../assets/images/icons/close_blue.svg")
            }
        }

        img {
            height: 13.5px;
            width: 13.5px;
        }
    }
}

.channel-name-container {
    border-radius: 20px;
    border: 1px solid $light-purple-lines;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .name-container {
        display: flex;
        gap: 10px;
        
        img {
            height: 24px;
            width: 24px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
        }
    }
}

.edit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    span {
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
    }

    button {
        border: none;
        background-color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 24.55px;
        color: $purple3;
        transition: scale 75ms ease-in-out;

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }
}


.channel-info-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid $light-purple-lines;

    .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
    }

    hr {
        width: 90%;
        border: 1px solid $light-purple-lines;
    }
}

.created-by {
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;

    p {
        font-size: 24px;
        font-weight: 400;
        line-height: 32.74px;
        color: $purple3;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple1;
        width: 204px;
        height: 49px;
        border-radius: 25px;
        padding: 12px 25px 12px 25px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.55px;
        border: none;

        &:hover {
            opacity: 0.5;
            transition: 75ms ease-in-out;
            cursor: pointer;
          }
    }
}