<div class="card-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="title">
        <div routerLink="">
          <img src="assets/images/icons/arrow_back.svg" alt="" />
        </div>

        <h1>Konto erstellen</h1>
      </div>

      <span>
        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
        DABubble-Konto.
      </span>

      <div class="input-section">
        <div>
          <input
            type="text"
            formControlName="name"
            class="input-name"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            placeholder="Name und Nachname"
          />
          @if (submitted && f['name'].errors) {
          <div class="invalid-feedback">
            @if (f['name'].errors['required']) {
            <div>Bitte Namen eingeben.</div>
            } @if (f['name'].errors['minlength']) {
            <div>Name muss mindestens 3 Zeichen lang sein.</div>
            }
          </div>
          }
        </div>

        <div>
          <input
            type="text"
            formControlName="email"
            class="input-email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            placeholder="beispielname@email.com"
          />
          @if (submitted && f['email'].errors) {
          <div class="invalid-feedback">
            @if (f['email'].errors['required']) {
            <div>Bitte Email-Adresse eingeben.</div>
            } @if (f['email'].errors['email']) {
            <div>Email-Adresse ist ungültig.</div>
            }
          </div>
          }
        </div>

        <div>
          <input
            type="password"
            formControlName="password"
            class="input-password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            placeholder="Passwort"
          />
          @if (submitted && f['password'].errors) {
          <div class="invalid-feedback">
            @if (f['password'].errors['required']) {
            <div>Bitte Passwort eingeben.</div>
            } @if (f['password'].errors['minlength']) {
            <div>Passwort muss mindestens 6 Zeichen lang sein.</div>
            } @if (f['password'].errors['maxlength']) {
            <div>Passwort darf nicht über 40 Zeichen lang sein.</div>
            }
          </div>
          }
        </div>
      </div>

      <div class="privacy-policy">
        <div class="privacy-policy-input">
          <label class="container">
            <input
              checked="checked"
              type="checkbox"
              formControlName="acceptTerms"
              class="checkmark"
              [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
            />
            <span class="checkmark"></span>
          </label>

          <p>Ich stimme der <a>Datenschutzerklärung</a> zu.</p>
        </div>
        @if (submitted && f['acceptTerms'].errors) {
        <div class="invalid-feedback">Stimme der Datenschutzerklärung zu.</div>
        }
      </div>

      <div class="button">
        <button
          class="button-forward"
          type="submit"
          [ngClass]="{ 'enable-button': form.valid }"
        >
          Weiter
        </button>
      </div>
    </div>
    <div class="legal">
      <button class="button-imprint" type="button" routerLink="/imprint">
        Impressum
      </button>
      <button
        class="button-privacy-policy"
        type="button"
        routerLink="/privacyPolicy"
      >
        Datenschutz
      </button>
    </div>
  </form>
</div>
