<header>
  <div class="logo">
    <img src="assets/images/icons/logo_da_bubble.png" alt="LOGO-DABUBBLE" />
    <img src="assets/images/icons/Logo_name.png" alt="LOGO-DABUBBLE" />
  </div>

  <div *ngIf="currentUser?.isSignedIn" class="searchBar">
    <input type="text" id="searchBar" placeholder="Code learning durchsuchen..." />
    <img src="assets/images/icons/search.svg" alt="Search" (click)="search()" />
  </div>

  <div *ngIf="currentUser?.isSignedIn" class="user" (click)="openDialog()" (mouseover)="onMouseOver()"
    (mouseout)="onMouseOut()">
    <span class="name">{{ currentUser?.name}}</span>
    <div> 
      <img class="avatar" [src]="currentUser?.avatar" alt="USER" />
      <div *ngIf="currentUser?.isSignedIn" class="online"></div>
    </div>

    <img class="menuDropDown" [src]="menuDown" alt="MENU" #userDiv />
  </div>

  <div *ngIf="showRegisterElement" class="register">
    <p>Neu bei DABubble?</p>
    <a routerLink="/register">Konto erstellen</a>
  </div>
</header>
