<header>
  <!-- Logo -->
  <div class="logo" routerLink="/login">
    <img src="assets/images/icons/logo_da_bubble.png" alt="LOGO-DABUBBLE" />
    <img class="logo-name" src="assets/images/icons/Logo_name.png" alt="LOGO-DABUBBLE" />
  </div>


  <!-- searchBar -->
  <div class="searchBar" *ngIf="currentUser?.isSignedIn" [formGroup]="form">
    <input (keydown.enter)="onSearch()" type="text" formControlName="recipient" placeholder="Code learning durchsuchen..." />
    <img class="searchImg" src="assets/images/icons/search.svg" alt="">
    <div *ngIf="searchResults && searchResults.length" class="list">
      <ul #searchResultsList *ngIf="searchResults.length > 0">
        <li *ngFor="let result of searchResults">
          <ng-container *ngIf="isUser(result)">
            <div class="container-name-avatar" *ngIf="!isPost(result)" (click)="openDirectMessage(result.id, currentUser)">
              <img src="{{result.avatar}}" alt="">
              <span>{{getFirstAndLastName(result.name)}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!isUser(result)">
            <div class="container-name-avatar" (click)="openChannel(result.id)">
              <span># {{ result.name }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="isPost(result)">
            <div class="container-name-avatar" (click)="openPost(result.id)">
              <div class=post-result>
                <span class="result-chanel">{{ result.channelName }}</span>
                <div class="result-name-post"><span>{{ result.userName }}:</span><span>{{ result.message }}</span></div>
              </div>
            </div>
          </ng-container>
        </li>
      </ul>
    
    </div>
  </div>

  <div *ngIf="showNoResults">
    <div class="no-results">Keine Suchergebnisse gefunden</div>
  </div>

  <!-- Name and Avatar if signed in -->
  <div *ngIf="currentUser?.isSignedIn" class="user" #userDiv (click)="openDialog()" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="name-container">
      <span class="name">{{ currentUser.name }}</span>
    </div>
    <div class="name-avatar">
      <div class="image-container">
        <img [src]="currentUser.avatar" alt="USER" />
      </div>
      <div *ngIf="currentUser.isSignedIn" class="online"></div>
    </div>
    <!-- menu for logOut -->
    <img class="menuDropDown" [src]="menuDown" alt="MENU" #userDiv />
  </div>


  <!-- If not registered -->
  <div *ngIf="showRegisterElement" class="register">
    <p>Neu bei DABubble?</p>
    <a routerLink="/register">Konto erstellen</a>
  </div>
</header>