header {
  width: 100%;
  // background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  max-width: 2320px;
  height: 90px;
}
.user {
  height: 70px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 340px;
  color: white;
  span {
    font-size: 32px;
    color: black;
    white-space: nowrap;

    font-weight: 700;
  }
  img {
    height: 70px;
  }
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  gap: 10px;
  width: 242px;
  padding-left: 10px;
}

.searchBar {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;

  input {
    width: 989px;
    height: 70px;
    border-radius: 42px;
    padding-left: 20px;
    font-size: 32px;
    border: none;
  }
  img {
    position: relative;
    right: 60px; /* Abstand vom rechten Rand des Eingabefeldes */
    width: 30px; /* Größe des Icons */
    height: 35px; /* Größe des Icons */
    width: 35px;
    pointer-events: none; /* Damit das Bild nicht klickbar ist */
  }
}
@media (max-width: 1500px) {
  .searchBar {
    input {
<<<<<<< HEAD
      width: 500px;
=======
      width: 20px; /*previousley 989px. Changed for testing purposes*/
      height: 70px;
      border-radius: 42px;
      padding-left: 20px;
      font-size: 32px;
      border: none;
>>>>>>> 05a5e0239d104a110b9db7a98c25f601d83a11fd
    }
  }
}
@media (max-width: 950px) {
  .searchBar {
    input {
      width: 350px;
    }
  }
}
