<header>

  <div class="logo">
    <img
      src="./../../../assets/images/icons/logo_da_bubble.png"
      alt="LOGO-DABUBBLE"
    />
    <img
      src="./../../../assets/images/icons/Logo_name.png"
      alt="LOGO-DABUBBLE"
    />
  </div>

  <div class="searchBar">
    <input
      type="text"
      id="searchBar"
      placeholder="Code learning durchsuchen..."
    />

    <img
      src="./../../../assets/images/icons/search.svg"
      alt="Search"
      (click)="search()"
    />
  </div>

  <!-- <button (click)="authService.signOut()">Logout</button>
  <button routerLink="/register">Registrieren</button> -->

  <div class="user">
    <span>{{ currentUser.name }}</span>
    <img (click)="openDialog()" [src]="currentUser.avatar" alt="USER" />
  </div>
</header>

