<div class="card-container">
  <div class="card">
    <div class="title">
      <img src="assets/images/icons/arrow_back.svg" alt="" />
      <h1>Konto erstellen</h1>
    </div>

    <span>
      Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.
    </span>
    <div class="input-section">
      <input type="text" placeholder="Name und Nachname" class="input-name" />
      <input
        type="email"
        placeholder="beispielname@email.com"
        class="input-email"
      />
      <input type="password" placeholder="Passwort" class="input-password" />
    </div>

    <div class="privacy-policy">
      <label class="container">
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
      <p>Ich stimme der <a>Datenschutzerklärung</a> zu.</p>
    </div>

    <div class="button">
      <button class="button-forward">Weiter</button>
    </div>
  </div>
  <div class="legal">
    <button class="button-imprint">Impressum</button>
    <button class="button-privacy-policy">Datenschutz</button>
  </div>
</div>
