<!-- input Content -->
<div class="input-content">
  <div class="textArea">
    <textarea
      name=""
      id="message-textarea"
      #messageTextarea
      (keyup.enter)="savePost()"
      (keyup)="onKeyUp($event)"
      placeholder="Nachricht an #{{ selectedChannel.name }}"
      [(ngModel)]="message"
    ></textarea>
    <div *ngIf="showUserList" class="user-list">
      <ul>
        <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
          <img [src]="user.avatar" alt="Profilbild" />
          <span>{{ user.name }}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="showChannelList" class="channel-list">
      <ul>
        <li *ngFor="let channel of filteredChannels" (click)="selectChannel(channel)">
          <span>#{{ channel.name }}</span>
        </li>
      </ul>
    </div>
    @if (files.length > 0) {
    <div class="documents-container">
      @for (file of files; track file; let index = $index) {
      <div class="document">
        <div>
          {{ file.name }}
        </div>
        <div class="icons-files">
          <img src="assets/images/icons/eye.svg" alt="" />
          <img
            src="assets/images/icons/close.svg"
            alt=""
            (click)="removeFile(index)"
          />
        </div>
      </div>
      }
    </div>
    }
    <!-- action buttons in input area -->
    <div class="icons">
      <div class="buttons">
        <!-- addIcon -->
        <a class="addIcon" (click)="openFileDialog()">
          <img src="assets/images/icons/add_icon.svg" alt="" />
        </a>
        <input
          type="file"
          #fileInput
          style="display: none"
          (change)="onFileSelected($event)"
        />
        <!-- seperator -->
        <div class="seperator"></div>

        <!-- Liste für Emojis -->
        <div class="link-emojis">
          <button class="smiley-icon-button" [matMenuTriggerFor]="aboveMenu">
            <img src="assets/images/icons/smiley-Icon.svg" alt="" />
          </button>
          <mat-menu #aboveMenu="matMenu" yPosition="above">
            <div class="emoji-container">
              <span
                *ngFor="let emoji of emojis"
                class="emoji"
                mat-menu-item
                (click)="addEmojiToMessage(emoji)"
                >{{ emoji }}</span
              >
            </div>
          </mat-menu>
          <!-- Liste für Verlinkungen von Kontakten -->
          <button [matMenuTriggerFor]="contactLinks" class="link-button">
            <img src="assets/images/icons/link_icon.svg" alt="" />
          </button>
          <mat-menu #contactLinks="matMenu" yPosition="above">
            <div class="link-container">
              <table class="links">
                <tr *ngFor="let user of allUsers">
                  <!-- Link contact in message -->
                  <td (click)="linkContactInMessage(user.name)">
                    <img [src]="user.avatar" alt="Profilbild" />
                    <span>{{ user.name }}</span>
                  </td>
                </tr>
              </table>
            </div>
          </mat-menu>
        </div>
      </div>
      <!-- savePost -->
      <a (click)="savePost()" class="save-post">
        <img src="assets/images/icons/send_icon.svg" alt="" />
      </a>
    </div>
  </div>
</div>
