@import "./../../../../styles.scss";

mat-card {
    width: 872px;
    height: fit-content;
    padding: 40px;
    font-family: 'Nunito';
    border-radius: 0px 30px 30px 30px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            display: flex;
            gap: 15px;
            font-size: 24px;
            font-weight: 700px;
            line-height: 32.74px;
            margin: 0;
        }
    }

    button {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: scale 75ms ease-in-out;

        &:hover {
            background-color: $background;
            color: $purple1;
            scale: 1.05;
        }

        img {
            height: 13.5px;
            width: 13.5px;
        }
    }
}

.channel-name-container {
    border-radius: 20px;
    border: 1px solid $light-purple-lines;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .name-container {
        display: flex;
        gap: 10px;
        
        img {
            height: 24px;
            width: 24px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
        }

        input {
            height: 60px;
            width: 100%;
            border-radius: 30px;
            border: solid 1px $light-purple-lines;
            padding-left: 15px;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
    
            &::placeholder {
                color: $text-gray;
                font-family: 'Nunito';
            }
        }
    }
}

.input-channel-name {
    background: url(./../../../../assets/images/icons/tag.svg) no-repeat 28px 16.5px;
    box-sizing: border-box;
    padding-left: 60px !important;
}

.edit-container {
    display: flex;
    justify-content: space-between;
    
    span {
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
    }

    button {
        border: none;
        background-color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 24.55px;
        color: $purple3;
        transition: scale 75ms ease-in-out;

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

}


.channel-info-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid $light-purple-lines;

    .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
    }

    hr {
        width: 719px;
        border: 1px solid $light-purple-lines;
    }

    input {
        height: 60px;
        border-radius: 30px;
        border: solid 1px $light-purple-lines;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;

        &::placeholder {
            color: $text-gray;
            font-family: 'Nunito';
        }
    }
}

.created-by {
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;

    p {
        font-size: 24px;
        font-weight: 400;
        line-height: 32.74px;
        color: $purple3;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple1;
        width: 204px;
        height: 49px;
        border-radius: 25px;
        padding: 12px 25px 12px 25px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.55px;
        border: none;

        &:hover {
            opacity: 0.5;
            transition: 75ms ease-in-out;
            cursor: pointer;
          }
    }
}