.privacy-policy-container {
    margin: 48px;

    button {
        margin-bottom: 36px;
    }

    p {
        margin-left: 36px;
    }
}

.privacy-text{
    display: flex;
    text-align: start;
    flex-direction: column;
    width: fit-content;
}