<div class="privacy-policy-container">
    <button mat-flat-button (click)="back()">
        <img src="assets/images/icons/arrow_back.svg" alt="">
    </button>

    <h1>Datenschutzerklärung</h1>

    <div class="privacy-text">
        <p>
            Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Personenbezogene Daten werden von uns nur im notwendigen Umfang erhoben. Die Verarbeitung erfolgt gemäß der Datenschutz-Grundverordnung (DSGVO) und anderen gesetzlichen Bestimmungen.
        </p>
        <h2>Verantwortlicher</h2>
        <p>
            Verantwortlich für die Datenverarbeitung auf dieser Website ist:<br>
            Tayfun Öztürk<br>
            Musterstrasse. 12<br>
            56482 Musterstadt<br>
            Musteradresse.de
        </p>
        <h2>Erhebung und Verarbeitung personenbezogener Daten</h2>
        <p>
            <strong>Beim Besuch der Website:</strong> Automatische Erfassung von IP-Adresse, Browsertyp, und Zugriffszeiten.<br>
            <strong>Bei der Nutzung von Kontaktformularen:</strong> Erhebung von Name, E-Mail-Adresse und weiteren freiwilligen Angaben.
        </p>
        <h2>Nutzung und Weitergabe der Daten</h2>
        <p>
            Ihre Daten werden nur zur Bearbeitung Ihrer Anfragen und zur technischen Administration genutzt. Eine Weitergabe an Dritte erfolgt nur mit Ihrer ausdrücklichen Zustimmung oder wenn dies gesetzlich vorgeschrieben ist.
        </p>
        <h2>Ihre Rechte</h2>
        <p>
            Sie haben das Recht auf:
        </p>

        <ul>
            <li>Auskunft über Ihre gespeicherten Daten</li>
            <li>Berichtigung unrichtiger Daten</li>
            <li>Löschung oder Einschränkung der Verarbeitung Ihrer Daten</li>
            <li>Widerspruch gegen die Datenverarbeitung</li>
            <li>Datenübertragbarkeit</li>
        </ul>

        <h2>Kontakt</h2>
        <p>
            Für Fragen oder Auskünfte zum Datenschutz wenden Sie sich bitte an:<br>
            Musteradresse.de
        </p>
    </div>

</div>