<h1>Impressum</h1>

<div class="imprint-container">
    <button mat-flat-button (click)="back()">
        <img src="assets/images/icons/arrow_back.svg" alt="">
    </button>
  <p>Vorname Nachname: Martin Inglin</p>
  <p>Strasse: Hinterhubstrasse 4</p>
  <p>Ort: Neftenbach</p>
  <p>Email: m.inglin&#64;gmx.ch</p>
  <p>Telefon: 079 275 12 86</p>

  <br>

  <p>Vorname Nachname: Steffen Winter </p>
  <p>Strasse: Kantstraße 6 </p>
  <p>Ort: 73431 Aalen</p>
  <p>Email: kontakt&#64;steffen-winter.org</p>
  <p>Telefon: 01711426770</p>

  <br>

  <p>Vorname Nachname: </p>
  <p>Strasse: </p>
  <p>Ort: Neftenbach</p>
  <p>Email: </p>
  <p>Telefon: </p>
</div>
