<mat-card>
    <mat-card-content>
        <div class="add-user-header">
            <div>
                <p>Leute hinzufügen</p>
                <button mat-icon-button>
                    <img src="./../../../assets/images/icons/close.svg">
                </button>
            </div>
            <span class="channel">
                <p><b>#</b></p>
                <p>Entwicklerteam</p>
            </span>
        </div>
        <form>
            <div class="input-container">
                <input placeholder="Name eingeben">
            </div>
            <div class="button-container">
                <div class="message-button">
                    <button>Hinzufügen</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>