<section>
    <mat-card>
      <mat-card-content>
        <div class="detail-view-header">
          <p>Profil</p>
          <button (click)="onNoClick()" mat-icon-button>
            <img src="./../../../assets/images/icons/close.svg">
          </button>
        </div>
        <div class="profile-container">
          <img [src]="userAvatar" alt="Profilbild">
        </div>
        <div class="name-container">
          <p>{{ userName }}</p>
          <span class="online" *ngIf="isSignedIn">
            <div></div>Aktiv
          </span>
          <span class="offline" *ngIf="!isSignedIn">
            <div></div>Abwesend
          </span>
        </div>
        <div class="mail-container">
          <span><img src="../../../assets/images/icons/mail_black.svg">
            <p>E-Mail-Adresse</p>
          </span>
          <a [href]="'mailto:' + userEmail">{{ userEmail }}</a>
        </div>
        <div (click)="onNoClick()" class="message-button">
          <button><img src="../../../assets/images/icons/chat_bubble.svg">Nachricht</button>
        </div>
      </mat-card-content>
    </mat-card>
  </section>