<section>
    <mat-card *ngIf="currentUser">
        <mat-card-content>
            <div class="detail-view-header">
                <p>Profil</p>
                <button (click)="onNoClick()" mat-icon-button>
                    <img src="assets/images/icons/close.svg">
                </button>
            </div>
            <div class="profile-container">
                <img [src]="currentUser.avatar" alt="User Avatar">
            </div>
            <div class="name-container">
                <span class="edit-container">
                    <p>{{ currentUser.name }}</p>
                    <button (click)="openDialog(); onNoClick()">Bearbeiten</button>
                </span>
                <span class="status">
                    <div></div>Aktiv
                </span>
            </div>
            <div class="mail-container">
                <span><img src="assets/images/icons/mail_black.svg">
                    <p>E-Mail-Adresse</p>
                </span>
                <a [href]="'mailto:' + currentUser.email" [innerHTML]="currentUser.email"></a>
            </div>
        </mat-card-content>
    </mat-card>
</section>