<mat-card>
    <mat-card-content>
        <div class="add-user-header">
            <div>
                <p>Leute hinzufügen</p>
                <button (click)="onNoClick()">
                    <img src="assets/images/icons/close.svg">
                </button>
            </div>
            <span class="channel">
                <p><b>#</b></p>
                <p>{{ channelName }}</p>
            </span>
        </div>
        <form>
            <div class="input-container">
                <input id="userInput" placeholder="Name eingeben" (input)="onSearchChange($event)">
                <div class="selected-user">
                    <div *ngFor="let user of getSelectedUsers()" class="selected-single-user">
                        <img [src]="user.avatar" alt="User Avatar">
                        <p>{{ user.name }}</p>
                        <button (click)="selectUser(user.id)">
                            <img src="assets/images/icons/close.svg">
                        </button>
                    </div>
                </div>
            </div>
            <mat-card *ngIf="showResults" class="user-list">
                <div *ngFor="let user of filteredUsers" class="single-users">
                    <img [src]="user.avatar">
                    <p (click)="selectUser(user.id)">
                        {{ user.name }}
                    </p>
                </div>
                <div *ngIf="filteredUsers.length === 0">
                    <p>Keine Benutzer mit diesem Namen vorhanden.</p>
                </div>
            </mat-card>
            <div class="button-container">
                <div class="message-button">
                    <button (click)="addUsersToChannel()">Hinzufügen</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>