/* Content styling */
section {
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 30px;
}

/* Content container */
.Content {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: 99vh;
  // padding-bottom: 30px;
}

/* Side navigation container */
nav{
  height: 90vh;
}
mat-drawer-container {
  height: 85.5vh;
  overflow: hidden;
  border-radius: 30px;
}

/* Side navigation */
.example-sidenav {
  background-color: white;
  width: 380px;
  padding: 20px;
}

/* Side navigation header */
.head-side-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  .head-side-menu-first {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    img {
      cursor: auto;
    }
  }
}

/* Styling for the link in the side navigation header */
.head-side-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  img {
    height: 40px;
    width: 40px;
  }
  &:hover {
    background-color:#eceefe;
    cursor: pointer;
    border-radius: 30px;
  }
}

/* Menu button */
.menuBtn {
  position: absolute;
  left: -148px; /* Am linken Rand des Bildschirms */
  top: 70%; /* Mittig vertikal */
  transform: translateY(-50%) rotate(270deg); /* Mittig und drehen */
  z-index: 5;
  display: flex;
  gap: 20px;
  width: fit-content;

  /* Styling for buttons inside the menu button */
  button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 14px 23px 14px;
    max-height: 50px;
    gap: 15px;
    width: 347px;
    border-radius: 0 0 20px 20px;
    border: none;
    box-shadow: -1px 0px 4px rgb(0, 0, 0);
    font-size: 20px;
    // gap: 10px;
    img {
      transform: rotate(90deg);
      margin-left: 10px;
    }
  }
}
.menu-btn-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}


.threadContent{
  height: 90vh;
}

/* Main content */
.mainContent {
  width: 1924px;
  height: 90vh;
}

/* Styling for the header of channels */
.channels-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
 
}
.channel-head-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 35px;
  width: fit-content;
  cursor: pointer;
  &:hover{
    .drop-down-img,
    .arrow-drop-down{
      content: url("./../../../assets/images/icons/arrow_drop_down_blue.svg");
      transform: scale(1.1);
    }
    .contact-list-account-img{
      content: url("./../../../assets/images/icons/account_circle_blue.svg");
      height: 27px;
    }
    .contacts-list{
      color: blue;
    }
  }
}

/* Styling for the channels list */
.channels-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  height: 40px;
  width: fit-content;
  gap: 15px;
  img {
    height: 27px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
  }
  &:hover {
    img {
      content: url("./../../../assets/images/icons/workspace_blue.svg");

    }
    color: #535af1;

  }
}
.contacts-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  height: 40px;
  width: fit-content;
  gap: 15px;
  img {
    height: 27px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
  }
  &:hover {
    img {
      content: url("./../../../assets/images/icons/account_circle_blue.svg");
      
    }
    color: blue;
  }
}
.channel-add {
  &:hover {
    img {
      content: url("./../../../assets/images/icons/add_circle_blue.svg");
    }
  }
}

/* Styling for table data in channels and contacts */
.channels {
  width: 100%;
  tr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  td {
    height: 33px;
    font-size: 18px;
    width: 70%;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* Hover effect for table data in channels and contacts */
    &:hover {
      color: #535af1;
      transform: scale(1.05);
    }
  }
  .span-hashtag{
    font-weight: 700;
    font-size: 21px;
  }
}
.contacts {
  width: 100%;
  tr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  
  }
  td {
    height: 58px;
    font-size: 18px;
    width: 70%;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
    }
    span {
      font-size: 18px;
    }
    &:hover {
      color: #535af1;
      border-radius: 10px;
      background-color: #eceefe;
      width: fit-content;
      padding-right: 10px;
    }
  }
}
