<section>
  <!-- MainContent -->
  <div class="Content">
    <div class="menuBtn">
      <button type="button" (click)="toggle(drawer)">
        <div class="menu-btn-content">
          <span>{{ isOpen ? menuClosed : menuOpen }}</span>
          <img [src]="isOpen ? menuUp : menuDown" alt="Toggle Contacts" />
        </div>
      </button>
    </div>

    <!-- SideNav -->
    <nav class="sidenav">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <app-side-nav [currentUser]="currentUser"></app-side-nav>
        </mat-drawer>
      </mat-drawer-container>
    </nav>

    <!-- ChatSpace -->
    <app-main-content class="mainContent" (toggleThread)="toggleThread()"></app-main-content>
    
    <!-- Thread Section -->
    <mat-drawer-container autosize>
      <mat-drawer #drawerThread="matDrawer" mode="side" position="end">
        <app-thread (toggleThread)="toggleThread()"></app-thread>
      </mat-drawer>
    </mat-drawer-container>

  </div>
</section>