<section>
  <!-- MainContent -->
  <div class="Content">
    <div class="menuBtn">
      <button type="button" (click)="drawer.toggle()">
        <div>
          <span> Workspace-Menü schließen </span>
          <img [src]="isOpen ? menuUp : menuDown" alt="Toggle Contacts" />
        </div>
      </button>
    </div>
    <!-- SideNav -->
    <nav>
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <div class="head-side-menu">
            <div class="head-side-menu-first">
              <img
                src="./../../../assets/images/icons/workspace_logo.png"
                alt=""
              />
              <span>DevSpace</span>
            </div>
            <div class="head-side-menu-link">
              <img
                src="./../../../assets/images/icons/16. edit_square.svg"
                alt=""
              />
            </div>
          </div>

          <div class="channels-head">
            <div
              class="channel-head-first"
              (click)="showChannels = !showChannels"
            >
              <img
                src="./../../../assets/images/icons/arrow_drop_down.svg"
                alt="Toggle Contacts"
              />
              <div class="channels-list">
                <img
                  src="./../../../assets/images/icons/workspaces.svg"
                  alt=""
                />
                <span>Channels</span>
              </div>
            </div>
            <div class="head-side-menu-link">
              <img src="./../../../assets/images/icons/add_icon.svg" alt="" />
            </div>
          </div>

          <table class="channels" *ngIf="showChannels">
            <tr *ngFor="let channel of currentUser?.channels">
              <td (click)="channelsService.changePropertiesChannel(channel.id, { name: 'New Channel Name' })">
                <span># {{ channel.name }}</span>
              </td>
            </tr>
            <tr>
              <td class="channel-add">
                <img
                  src="./../../../assets/images/icons/add_circle.svg"
                  alt=""
                />
                <span>Channel hinzufügen</span>
              </td>
            </tr>
          </table>

          <!-- Strich -->
          <div class="channels-head">
            <div
              class="channel-head-first"
              (click)="showContacts = !showContacts"
            >
              <img
                src="./../../../assets/images/icons/arrow_drop_down.svg"
                alt="Toggle Contacts"
              />
              <div class="channels-list">
                <img
                  src="./../../../assets/images/icons/account_circle.svg"
                  alt=""
                />
                <span>Direktnachrichten</span>
              </div>
            </div>
          </div>

          <table class="contacts" *ngIf="showContacts">
            <tr *ngFor="let user of allUsers">
              <td>
                <img [src]="user.avatar" alt="Profilbild" />
                <span>{{ user.name }}</span>
              </td>
            </tr>
          </table>
        </mat-drawer>
      </mat-drawer-container>
    </nav>
    <!-- SideNav -->

    <!-- ChatSpace -->
    <app-main-content class="mainContent"></app-main-content>

    <!-- CommentSection -->
    <app-thread></app-thread>
  </div>
  <!-- MainContent -->
</section>
