@import "./../../../styles.scss";

/* Content styling */
section {
  height: 85vh;
  box-sizing: border-box;
}

/* Content container */
.Content {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.sidenav {
  height: 100%;
}

/* Side navigation container */
mat-drawer-container {
  height: 100%;
  border-radius: 30px;
}

/* Side navigation */
.example-sidenav {
  background-color: white;
  width: 380px;
  padding: 20px 0 20px 20px;
}

/* Menu button */
.menuBtn {
  position: absolute;
  left: -148px;
  /* Am linken Rand des Bildschirms */
  top: 70%;
  /* Mittig vertikal */
  transform: translateY(-50%) rotate(270deg);
  /* Mittig und drehen */
  z-index: 5;
  display: flex;
  gap: 20px;
  width: fit-content;

  /* Styling for buttons inside the menu button */
  button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 14px 23px 14px;
    max-height: 50px;
    gap: 15px;
    width: 347px;
    border-radius: 0 0 20px 20px;
    border: none;
    box-shadow: -1px 0px 4px rgb(0, 0, 0);
    font-size: 20px;

    // gap: 10px;
    img {
      transform: rotate(90deg);
      margin-left: 10px;
    }
  }
}

.menu-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

/* Main content */
.mainContent {
  flex: 1;
  height: 100%;
}

// Media Querries
@media (max-width: 450px) {
  /* Adjust breakpoint as needed */
  section {
    height: 99.9%;
  }

  .Content {
    display: flex;
    /* Allow stacking elements vertically */
    margin: 0;
    gap: 0;
  }

  .sidenav {
    width: 100%;
    height: 100%;
    // transform: translateX(-100%); /* Hide sidenav initially */
    transition: transform 0.8s ease-in-out;

    mat-drawer-container {
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }

  .example-sidenav {
    width: 100%;
  }

  .sidenav.open {
    /* Add class on menu open */
    transform: translateX(100%);
    display: swap;
  }

  // .sidenav:not(.open) {
  //   transform: translateX(-100%); /* Hide sidenav when closed */
  // }

  .mainContent {
    flex: 1;
    /* Allow main content to fill remaining space */
    overflow-y: auto;
    /* Enable scrolling for long content */
    transition: opacity 0.3s ease-in-out;
    /* Smooth opacity change */
  }

  .mainContent.hidden {
    /* Add class on menu open */
    opacity: 0;
    /* Hide main content when menu is open */
    pointer-events: none;
    /* Prevent interaction with hidden content */
  }
}