<!-- Current user -->
@if (postFromCurrentUser) {
<div class="message">
  <div
    class="message-container-current-user"
    (mouseenter)="showMenu = true"
    (mouseleave)="showMenu = false; showEditMessage = false"
  >
    <img src="{{ post.avatar }}" alt="" />

    <div class="message-box-current-user">
      <div class="message-name-current-user">
        <span>{{ post.name }}</span>
        <span class="timestamp">{{ formatDateTime(post.timestamp) }}</span>
        @if (post.edited) {
        <span class="edited">(bearbeitet)</span>
        }
      </div>
      <div class="message-text-current-user" *ngIf="!wantToEditMessage">
        <span>{{ post.message }}</span>
      </div>
      <div *ngIf="wantToEditMessage" class="edit-message-container">
        <textarea
          [(ngModel)]="post.message"
          (keyup.enter)="saveEditedMessage()"
        ></textarea>
      </div>
      @if (reactionsToDislplay.length > 0) {

      <div class="reactions-container">
        @for (reaction of reactionsToDislplay; track reaction; let index =
        $index) {
        <div
          class="reaction"
          (mouseenter)="toggleTooltip(true, index)"
          (mouseleave)="toggleTooltip(false, index)"
          (click)="saveReaction(reaction.emoji)"
        >
          <div>
            {{ reaction.emoji }}
          </div>
          <div class="amount-reactions">{{ reaction.userId.length }}</div>
          <div
            class="tooltip-reaction-left"
            [ngClass]="{ show: showReaction && reactionIndex === index }"
          >
            <div>{{ reaction.emoji }}</div>
            @for (name of reaction.userName; track name) {
            <div class="name-reaction">{{ name }}</div>
            }
            <div>hat reagiert</div>
          </div>
        </div>
        }
      </div>
      }
    </div>
    <div class="menu-hover" [ngClass]="{ show: showMenu }">
      @for (emoji of currentUser.savedEmojis; track emoji) {
      <div class="users-emojis" (click)="saveReaction(emoji)">{{ emoji }}</div>
      }
      <img
        src="assets/images/icons/add_reaction.svg"
        alt=""
        [matMenuTriggerFor]="aboveMenu"
      />
      <mat-menu #aboveMenu="matMenu" yPosition="below">
        <div class="emoji-container">
          @for (emoji of emojis; track emoji; let index = $index) {
          <span class="emoji" mat-menu-item (click)="saveReaction(emoji)">{{
            emoji
          }}</span>
          }
        </div>
      </mat-menu>

      @if (path === 'channels') {
      <img
        src="assets/images/icons/comment.svg"
        alt=""
        (click)="sendOpenThreadToParent(post)"
      />
      }
      <img
        src="assets/images/icons/edit_message.svg"
        alt=""
        (click)="toggleShowEditMessage()"
      />
      <div
        class="edit-message"
        (click)="toggleWantToEditMessage()"
        [ngClass]="{ show: showEditMessage }"
      >
        <span>Nachricht bearbeiten</span>
      </div>
    </div>
  </div>
  @if (post.files.length > 0) {
  <div class="documents-container">
    @for (file of post.files; track file; let index = $index) {
    <div class="document" (click)="downloadFile(file.url, $event)">
      {{ file.name }}

      <img
        class="delete-file"
        src="assets/images/icons/close.svg"
        alt=""
        matTooltip="Diese Datei löschen"
        (click)="deleteFile(file.name, $event, index)"
      />
    </div>
    }
  </div>
  } @if (path === 'channels') {
  <div class="message-details">
    <!-- Message actions and time details -->
    <a>Antworten</a>
    <span
      >Letzte Antwort:{{ formatDateTime(selectedChannel.posts[0].timestamp) }}
    </span>
  </div>
  }
</div>
}

<!--Not current User-->
@if (!postFromCurrentUser) {
<div class="message">
  <div
    class="message-container"
    (mouseenter)="showMenu = true"
    (mouseleave)="showMenu = false"
  >
    <img src="{{ post.avatar }}" alt="" />

    <div class="message-box">
      <div class="message-name">
        <span>{{ post.name }}</span>
        <span class="timestamp">{{ formatDateTime(post.timestamp) }}</span>
        @if (post.edited) {
        <span class="edited">(bearbeitet)</span>
        }
      </div>
      <div class="message-text">
        <span>{{ post.message }}</span>
      </div>
      @if (reactionsToDislplay.length > 0) {

      <div class="reactions-container">
        @for (reaction of reactionsToDislplay; track reaction; let index =
        $index) {
        <div
          class="reaction"
          (mouseenter)="toggleTooltip(true, index)"
          (mouseleave)="toggleTooltip(false, index)"
          (click)="saveReaction(reaction.emoji)"
        >
          <div>
            {{ reaction.emoji }}
          </div>
          <div class="amount-reactions">{{ reaction.userId.length }}</div>
          <div
            class="tooltip-reaction"
            [ngClass]="{ show: showReaction && reactionIndex === index }"
          >
            <div>{{ reaction.emoji }}</div>
            @for (name of reaction.userName; track name) {
            <div class="name-reaction">{{ name }}</div>
            }
            <div>hat reagiert</div>
          </div>
        </div>
        }
      </div>
      }
    </div>
    <div class="menu-hover" [ngClass]="{ show: showMenu }">
      @for (emoji of currentUser.savedEmojis; track emoji) {
        <div class="users-emojis" (click)="saveReaction(emoji)">{{ emoji }}</div>
        }
      <img
        src="assets/images/icons/add_reaction.svg"
        alt=""
        [matMenuTriggerFor]="aboveMenu"
      />
      <mat-menu #aboveMenu="matMenu" yPosition="below">
        <div class="emoji-container">
          @for (emoji of emojis; track emoji; let index = $index) {
          <span class="emoji" mat-menu-item (click)="saveReaction(emoji)">{{
            emoji
          }}</span>
          }
        </div>
      </mat-menu>
      @if (path === 'channels') {
      <img
        src="assets/images/icons/comment.svg"
        alt=""
        (click)="sendOpenThreadToParent(post)"
      />
      }
    </div>
  </div>
  @if (post.files.length > 0) {
  <div class="documents-container">
    @for (file of post.files; track file; let index = $index) {
    <div class="document" (click)="downloadFile(file.url, $event)">
      {{ file.name }}
    </div>
    }
  </div>
  } @if (path === 'channels') {
  <div class="message-details">
    <!-- Message actions and time details -->
    <a>Antworten</a>
    <span
      >Letzte Antwort:{{ formatDateTime(selectedChannel.posts[0].timestamp) }}
    </span>
  </div>
  }
</div>
}
