<!-- Current user -->

@if (postFromCurrentUser) {
<div class="message">
  <div
    class="message-container-current-user"
    (mouseenter)="showMenu = true"
    (mouseleave)="showMenu = false; showEditMessage = false"
  >
    <img src="{{ post.avatar }}" alt="" />

    <div class="message-box-current-user">
      <div class="message-name-current-user">
        <span>{{ post.name }}</span>
        <span class="timestamp">{{ formatDateTime(post.timestamp) }}</span>
        @if (post.edited) {
        <span class="edited">(bearbeitet)</span>
        }
      </div>
      <div class="message-text-current-user">
        <span>{{ post.message }}</span>
      </div>
      @if (post.reactions.length > 0) {
      <div class="reactions-container">
        <div class="reactions">
          <!-- 0 must be changed to index later-->
          <img
            src="assets/images/icons/add_icon.svg "
            (mouseenter)="showReaction = true; reactionIndex = 0"
            (mouseleave)="showReaction = false"
          />
          <div class="amount-reactions">1</div>
          <div class="tooltip-reaction" [ngClass]="{ show: showReaction }">
            <img src="./../../../../assets/images/icons/add_icon.svg" alt="" />
            <div class="name-reaction">Name der Person</div>
            <div>hat reagiert</div>
          </div>
        </div>

        <img
          class="add-reaction"
          src="assets/images/icons/add_reaction.svg"
          alt=""
        />
      </div>
      }
    </div>
    <div class="menu-hover" [ngClass]="{ show: showMenu }">
      <img src="assets/images/icons/add_circle.svg" alt="" />
      <img src="assets/images/icons/add_circle.svg" alt="" />
      <img src="assets/images/icons/add_reaction.svg" alt="" />
      <!-- <img src="assets/images/icons/comment.svg" alt="" /> Is only needed in channels-->
      <img
        src="assets/images/icons/edit_message.svg"
        alt=""
        (click)="toggleShowEditMessage()"
      />
      <div class="edit-message" [ngClass]="{ show: showEditMessage }">
        <span>Nachricht bearbeiten</span>
      </div>
    </div>
  </div>
  @if (post.files.length > 0) {
  <div class="documents-container">
    @for (file of post.files; track file; let index = $index) {
    <div class="document" (click)="downloadFile(file.url)">
      {{ file.name }}
    </div>
    }
  </div>
  }
</div>
}

<!--Not current User-->

@if (!postFromCurrentUser) {
<div class="message">
  <div
    class="message-container"
    (mouseenter)="showMenu = true"
    (mouseleave)="showMenu = false"
  >
    <img src="{{ post.avatar }}" alt="" />

    <div class="message-box">
      <div class="message-name">
        <span>{{ post.name }}</span>
        <span class="timestamp">{{ formatDateTime(post.timestamp) }}</span>
        @if (post.edited) {
        <span class="edited">(bearbeitet)</span>
        }
      </div>
      <div class="message-text">
        <span>{{ post.message }}</span>
      </div>
      @if (post.reactions.length > 0) {
      <div class="reactions-container">
        <div class="reactions">
          <!-- 0 must be changed to index later on-->
          <img
            src="assets/images/icons/add_icon.svg "
            (mouseenter)="showReaction = true; reactionIndex = 0"
            (mouseleave)="showReaction = false"
          />
          <div class="amount-reactions">1</div>
          <div class="tooltip-reaction" [ngClass]="{ show: showReaction }">
            <img src="assets/images/icons/add_icon.svg" alt="" />
            <div class="name-reaction">Name der Person</div>
            <div>hat reagiert</div>
          </div>
        </div>

        <img
          class="add-reaction"
          src="assets/images/icons/add_reaction.svg"
          alt=""
        />
      </div>
      }
    </div>
    <div class="menu-hover" [ngClass]="{ show: showMenu }">
      <img src="assets/images/icons/add_circle.svg" alt="" />
      <img src="assets/images/icons/add_circle.svg" alt="" />
      <img src="assets/images/icons/add_reaction.svg" alt="" />
      <!-- <img src="assets/images/icons/comment.svg" alt="" /> Is only needed in channels-->
    </div>
  </div>
  @if (post.files.length > 0) {
  <div class="documents-container">
    @for (file of post.files; track file; let index = $index) {
    <div class="document" (click)="downloadFile(file.url)">
      {{ file.name }}
    </div>
    }
  </div>
  }
</div>
}
