@import "./../../../../styles.scss";

/* Styling for individual messages */
.message {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  img {
    height: 70px;
    width: 70px;
  }
  .message-text {
    width: fit-content;
    background-color: $background;
    min-height: 35px;
    border-radius: 0px 30px 30px 30px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .message-name {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .edited {
    color: $text-gray;
    font-size: 12px;
  }

  .message-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    gap: 30px;
    transition: 75ms ease-in-out;
    position: relative;

    &:hover {
      background-color: $background;
      transition: 75ms ease-in-out;

      .message-text {
        background-color: white;
        transition: 75ms ease-in-out;
      }
    }
    .timestamp {
      font-weight: 400;
      font-size: 16px;
      color: $text-gray;
    }
  }
  .menu-hover {
    display: none;
    position: absolute;
    top: -8px;
    right: 20px;
    border: 1px solid $light-purple-lines;
    border-radius: 25px 25px 0 25px;
    align-items: center;
    gap: 5px;
    padding: 3px 15px 3px 20px;
    background-color: white;

    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      &:hover {
        background-color: $background;
        cursor: pointer;
      }
    }

    .edit-message {
      position: absolute;
      bottom: -44px;
      right: 24px;
      display: none;
      border-radius: 30px 0px 30px 30px;
      box-shadow: 0px 6px 14px 0px #00000033;
      background-color: white;
      padding: 10px 20px;

      span {
        font-weight: 500;
        font-size: 20px;
        white-space: nowrap;
        border-radius: 20px;
        transition: 75ms ease-in-out;
        padding: 8px;
        &:hover {
          background-color: $background;
          color: $purple1;
          transition: 75ms ease-in-out;
          cursor: pointer;
        }
      }
    }
    .edit-message.show {
      display: flex;
    }
  }
  .menu-hover.show {
    display: flex;
  }
}

.documents-container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 8px;
  width: 100%;

  .document {
    background-color: rgb(165 165 165 / 24%);
    border-radius: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 4px 16px;

    &:hover {
      background-color: rgb(165 165 165 / 40%);
      cursor: pointer;
    }
  }
}

.reactions-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  position: relative;

  .reactions {
    display: flex;
    align-items: center;
    border: 1px solid $text-gray;
    border-radius: 50px;
    padding: 4px 8px;
    cursor: pointer;

    img {
      height: 24px;
      width: 24px;
    }
    .amount-reactions {
      font-size: 16px;
      font-weight: 400;
    }
    .tooltip-reaction {
      position: absolute;
      bottom: 34px;
      left: 24px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 30px 30px 30px 0;
      gap: 5px;
      padding: 15px 10px;
      background-color: $purple1;
      color: white;
      font-size: 16px;

      .name-reaction {
        font-weight: 700;
      }
    }
    .tooltip-reaction.show {
      display: flex;
      z-index: 99;
    }
  }
  .add-reaction {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

/* classes for current user */

.message-container-current-user {
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
  width: 100%;
  padding: 10px;
  gap: 30px;
  transition: 75ms ease-in-out;
  position: relative;

  &:hover {
    background-color: $background;
    transition: 75ms ease-in-out;

    .message-text {
      background-color: white;
      transition: 75ms ease-in-out;
    }
  }
  .timestamp {
    font-weight: 400;
    font-size: 16px;
    color: $text-gray;
  }
}

.message-box-current-user {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.message-text-current-user {
  width: fit-content;
  background-color: $purple2;
  min-height: 35px;
  border-radius: 30px 0px 30px 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.message-name-current-user {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
