@import "./../../../../styles.scss";

.flex-1 {
  display: flex;
  flex: 1;
}

/* Styling for the main content container */
.main-content-container {
  height: 100%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-width: 320px;

  a {
    cursor: pointer;

    &:hover {
      background-color: #0c0c0c0e;
      border-radius: 20px;
      border: none;
      display: flex;
      align-items: center;
    }
  }
}

.header-post-input-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styling for the header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;

  /* Styling for the channel name */
  .channelName {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 700;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
  }

  .channelNameNoPointer {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 700;
  }

  /* Styling for the channel members */
  .channelMembers {
    width: fit-content;
    height: 40px;
    display: flex;
    padding: 3px 10px 3px 40px;
    align-items: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      background-color: #eceefe;
      border-radius: 30px;
    }

    img {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      object-fit: cover;
      padding: 10px;
      margin-left: -30px;
    }

    p {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 27.28px;
      color: black;
      margin: 0 !important;
    }
  }
}

.members-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 50px;

  button {
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 40px;
    background-color: $background;
    border: none;

    &:hover {
      cursor: pointer;
    }

    img {
      transition: scale 100ms ease-in-out;

      &:hover {
        scale: 1.05;
        content: url("./../../../../assets/images/icons/add_member_blue.svg");
      }
    }
  }
}

/* Styling for the input field */
.inputContent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  z-index: 2000;
}

/* Styling for the text area */
.textArea {
  height: 135px;
  width: 90%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  textarea {
    height: 80px;
    border: none;
    width: 90%;
    display: flex;
    align-items: flex-start;
    resize: none;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background: none;
    flex: 1;

    &:focus {
      border-color: transparent;
      outline: none;
    }
  }

  /* Styling for the icons */
  .icons {
    display: flex;
    height: 45px;
    align-items: start;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    .buttons {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    .addIcon {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: none;
      border-bottom: none;
      border-left: none;
      cursor: pointer;
      background-color: none;
      margin-right: 5px;
    }
  }
}

/* Styling for the message content */
.message-content {
  height: 53vh;
  /* Mindesthöhe auf 50% der Bildschirmhöhe setzen */
  padding-top: 20px;
  width: 100%;
  overflow-y: scroll;

  /* Styling for the line separator */
  .date-line {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Line {
    width: 95%;
    background-color: #eceefe;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      z-index: 2;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 2px solid #eceefe;
      border-radius: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/* Styling for individual messages */
.message {
  display: flex;
  max-width: 97%;
  padding: 20px;
  height: 141px;
  align-items: center;

  img {
    height: 70px;
    width: 70px;
  }

  /* Styling for the message text */
  .message-text {
    width: fit-content;
    background-color: #eceefe;
    height: 35px;
    border-radius: 0px 30px 30px 30px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /* Styling for the message name */
  .message-name {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
  }

  /* Styling for the message container */
  .message-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 110px;
    padding: 10px;
    gap: 30px;
    height: fit-content;

    &:hover {
      background-color: #eceefe;
      width: 100%;

      .message-text {
        background-color: white;
      }
    }
  }
}

.avatarName {
  width: 320px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 4px 20px;
  overflow: hidden;
  position: relative; /* Füge position relative hinzu */

  img {
    max-height: 70px;
    z-index: 2;
  }

  &:hover {
    background-color: $background;
    cursor: pointer;
    border-radius: 55px;
  }

  .name-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .header-name {
    display: inline-block;
    transition: transform 0.3s linear;
    z-index: 1;
    line-height: 30px;
  }

  &:hover {
    .header-name {
      animation: scrollName 5s linear infinite;
    }
  }
}

@keyframes scrollName {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.avatarNameNoHover {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 4px 20px 4px 20px;

  img {
    max-height: 70px;
  }
}

.placeholderContainer {
  margin-left: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 99%;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: 5px;
  }

  span {
    font-weight: 700;
    font-size: 20px;
  }

  p {
    color: grey;
    font-size: 14px;
  }

  .messageAvatarName {
    margin-bottom: 5px;
    cursor: pointer;
  }

  .messageAvatarNameNoPointer {
    margin-bottom: 5px;
  }
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.emoji {
  margin-right: 10px;
  margin-bottom: 5px;
  width: calc((100% / 3) - 10px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

cdk-overlay-connected-position-bounding-box {
  border-radius: 30px;
  height: fit-content;
}

.link-container {
  display: flex;
  width: fit-content;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.links {
  td {
    width: 100%;
    padding: 10px;
    cursor: pointer;

    img {
      height: 40px;
    }
  }
}

.mdc-button {
  min-width: 10px;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #0c0c0c02;

    border-radius: 20px;
    border: none;
  }
}

.link-emojis {
  margin-top: 5px;
}

.seperator {
  height: 30px;
  width: 1px;
  background-color: black;
}

.newMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: start;
  height: 150px;
  position: relative;

  span {
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;
    margin-bottom: 20px;
  }

  input {
    width: 80%;
    margin-left: 50px;
    border-radius: 30px;
    height: 45px;
    border: 1px solid #eceefe;
    padding-left: 20px;
    font-size: 18px;
    background-color: none;
    box-sizing: border-box;
  }
}

.documents-container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 8px;

  .document {
    background-color: rgb(165 165 165 / 24%);
    border-radius: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 4px 16px;

    &:hover {
      background-color: rgb(165 165 165 / 40%);
      cursor: pointer;
    }
  }
}

.highlight {
  background-color: #fbb13b8b;
}

.user-avatar-image {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  object-fit: cover;
}

@media (max-width: 580px) {
  .newMessage {
    span {
      margin-left: 30px;
    }

    input {
      margin-left: 30px;
    }

    input::placeholder {
      font-size: 14px;
    }
  }
}

@media (max-width: 580px) {

  .channelNameNoPointer,
  .channelName {
    margin-left: 0 !important;
  }
}

@media (max-height: 668px) {
  .message-content {
    height: 36vh;
  }
}

.list {
  position: absolute;
  top: 100%;
  left: 15%;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 300px;
  padding: 20px;
}

.searchBar input {
  width: 100%;
  box-sizing: border-box;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: fit-content;
  max-height: 400px;
  overflow-x: auto;
}

.list li {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}

.list li:hover {
  background-color: $purple2;
  border-radius: 30px;
  color: white;
}

.container-name-avatar {
  display: flex;
  align-items: center;
}

.container-name-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.container-name-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 45px;

  span {
    font-size: 20px;
    font-weight: bold;
  }

  img {
    max-height: 30px;
    margin-right: 20px;
  }

  .post-input {
    width: 90%;
  }
}