<!-- Main content of the document -->
<main id="mainContent">
     <!-- Header section with channel name and contact information -->
    <header>
        <div class="channelName">
            # Channel Name / Contact / Neue Nachricht
        </div>
        <div class="channelMembers">
            <!-- Profile pictures of channel members which are part of the group -->
<img src="./../../../../assets/images/icons/Profile bild.svg" alt="">
<img src="./../../../../assets/images/icons/Profile bild.svg" alt="">
<img src="./../../../../assets/images/icons/Profile bild.svg" alt="">
        </div>
    </header>

    <!-- Message Content  -->
    <div class="message-content">
        <!-- Date line for messages -->
        <div class="dateLine">
            <div class="Line">
                <span>
                    Datum
                </span>
            </div>
        </div>
        <div class="message">
            <div class="message-container"  (click)="openThread()">
                 <!-- Profile picture of the message author -->
                <img src="./../../../../assets/images/icons/Profile bild.svg" alt="">
                <!-- Message box -->
                <div class="message-box">
                    <div class="message-name">
                        <!-- Name of the message author -->
                        <span>Name Nachmane</span>
                    </div>
                    <div class="message-text">
                        <!-- Text of the message -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>

                    <div class="message-details">
                        <!-- Message actions and time details -->
                        <a href="">Antworten</a>
                        <span>Letzte Antwort 14.56</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Input Feld am unteren rand des Containers -->
    <div class="inputContent">
        <div class="textArea" placeholder="Nachricht an #Entwicklerteam">
            <textarea name="" id=""></textarea>

<!--Icons -->
            <div class="icons">
                <div class="buttons">
                    <div class="addIcon">
                        <img src="./../../../../assets/images/icons/add_icon.svg" alt="">
                    </div>
                    <img src="./../../../../assets/images/icons/smiley-Icon.svg" alt="">
                    <img src="./../../../../assets/images/icons/link_icon.svg" alt="">
                </div>

                <img src="./../../../../assets/images/icons/send_icon.svg" alt="">

            </div>
        </div>
    </div>


</main>