<!-- Main content of the document -->
<main class="main-content-container">
  <!-- Channel -->

  <!-- Header section with channel name and contact information -->
  <header
    *ngIf="!channelSelected && !chatSelected"
    class="newMessage"
    [formGroup]="form"
  >
    <span>Neue Nachricht</span>
    <input
      type="text"
      formControlName="recipient"
      placeholder="An: #channel, oder @jemand oder E-mail Adresse"
    />
    <div *ngIf="searchResults && searchResults.length">
      <ul>
        <li
          *ngFor="let result of searchResults"
          (click)="selectRecipient(result)"
        >
          {{ result.name }} ({{ result.id ? "Channel" : "Direct Message" }})
        </li>
      </ul>
    </div>
  </header>

  <div class="header-post-input-container" *ngIf="channelSelected">
    <header>
      <div
        (click)="openChannelInfoDialog(selectedChannel.id)"
        class="channelName"
      >
        {{ selectedChannel.name }}
      </div>

      <div class="members-and-button">
        <div
          class="channelMembers"
          *ngIf="channelSelected"
          (click)="openMembersDialog(selectedChannel.id, membersDialog)"
        >
          <!-- Profile pictures of channel members which are part of the group -->
          <ng-container *ngFor="let user of selectedChannel.users">
            <img src="{{ user.avatar }}" alt="" />
          </ng-container>
          <p #membersDialog>{{ userCount }}</p>
        </div>
        <button
          #addUserDialog
          (click)="
            openAddUserToChannelDialog(selectedChannel.id, addUserDialog)
          "
        >
          <img src="assets/images/icons/add_member.svg" />
        </button>
      </div>
    </header>

    <!-- Message Content  -->
    <div class="message-content">
      @if (selectedChannel.posts.length > 0) {
      <div *ngFor="let post of selectedChannel.posts; let index = index">
        <!-- Date line for messages -->
        @if (dateForLine != formatDate(post.timestamp)) {
        <div class="dateLine">
          <div class="Line">
            <span>{{ formatDate(post.timestamp) }}</span>
          </div>
        </div>
        }

        <!-- Post -->
        <app-post
          [post]="post"
          [currentUserId]="currentUser.id"
          [selectedChannel]="selectedChannel"
          [indexPost]="index"
          [path]="'channels'"
          (openThread)="openThread(post)"
        >
          <div class="message-details">
            <!-- Message actions and time details -->
            <a>Antworten</a>
            <span>Letzte Antwort:{{ formatDateTime(post.timestamp) }} </span>
          </div>
        </app-post>
      </div>
      }

      <!-- Placeholder if no post is in channel -->
      @if (selectedChannel.posts.length === 0) {
      <div class="placeholderContainer" *ngIf="channelSelected">
        <img src="{{ selectedChannel.name }}" alt="" />
        <h3>{{ selectedChannel.description }}</h3>
        <div>
          <span
            >Schreib etwas in die Gruppe
            <a> {{ selectedChannel.name }}</a> damit andere darauf
            reagieren.</span
          >
        </div>
      </div>
      }
    </div>

    <!-- Input Feld am unteren Rand des Containers -->
    <app-post-input
      class="post-input"
      [selectedChannel]="selectedChannel"
      [allUsers]="allUsers"
      [currentUser]="currentUser"
      [path]="'channels'"
    ></app-post-input>
  </div>

  <!-- Direct Message -->

  <div class="header-post-input-container" *ngIf="chatSelected">
    <!-- Header section with channel name and contact information -->
    <header *ngIf="chatSelected">
      <div class="channelName" *ngIf="selectedDirectMessage.users.length > 0">
        <div class="avatarName">
          <img src="{{ otherUserDirectMessage.avatar }}" alt="" />
          {{ otherUserDirectMessage.name }}
        </div>
      </div>
    </header>

    <!-- Message Content  -->

    <div class="message-content">
      <!-- Date line for messages -->
      @if (selectedDirectMessage.posts.length > 0 &&
      selectedDirectMessage.users.length > 0) {
      <div *ngFor="let post of selectedDirectMessage.posts; let index = index">
        <!-- Date line for messages -->
        @if (dateForLine != formatDate(post.timestamp)) {
        <div class="dateLine">
          <div class="Line">
            <span>{{ formatDate(post.timestamp) }}</span>
          </div>
        </div>
        }

        <!-- Post -->
        <app-post
          [post]="post"
          [currentUserId]="currentUser.id"
          [selectedChannel]="selectedChannel"
          [selectedDirectMessageId]="selectedDirectMessage.id"
          [indexPost]="index"
          [path]="'directMessages'"
        >
        </app-post>
      </div>

      }

      <!-- Placeholder if no message is in channel -->

      <div
        class="placeholderContainer"
        *ngIf="
          chatSelected &&
          selectedDirectMessage &&
          selectedDirectMessage.posts.length === 0
        "
      >
        @if (!selectedDirectMessage.isPrivateMessage) {
        <div class="messageAvatarName">
          <img src="{{ otherUserDirectMessage.avatar }}" alt="" />
          <span>{{ otherUserDirectMessage.name }}</span>
        </div>

        <div>
          <p>
            Diese Unterhaltung findet nur zwischen
            {{ otherUserDirectMessage.name }} und dir statt.
          </p>
        </div>
        } @if (selectedDirectMessage.isPrivateMessage) {
        <div class="messageAvatarName">
          <img src="{{ currentUser.avatar }}" alt="" />
          <span>{{ currentUser.name }} (Du)</span>
        </div>

        <div>
          <p>
            Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine
            To-dos auf oder bewahre Links und Dateien griffbereit auf. Du kannst
            hier auch gerne Dinge mit dir selbst besprechen.
          </p>
        </div>
        }
      </div>
    </div>
    <!-- Input Feld am unteren Rand des Containers -->
    @if (chatSelected) {
    <app-post-input
      class="post-input"
      [selectedChannel]="selectedChannel"
      [selectedDirectMessage]="selectedDirectMessage"
      [allUsers]="allUsers"
      [currentUser]="currentUser"
      [path]="'directMessages'"
    ></app-post-input>
    }
  </div>
</main>
