<!-- Main content of the document -->
<main class="main-content-container">
  <!-- Channel -->

  <!-- Header section with channel name and contact information -->
  <header
    *ngIf="!channelSelected && !chatSelected"
    class="newMessage"
    [formGroup]="form"
  >
    <span>Neue Nachricht</span>
    <input
      type="text"
      formControlName="recipient"
      placeholder="An: #channel oder @jemand"
    />
    <div *ngIf="searchResults && searchResults.length" class="list">
      <ul #searchResultsList *ngIf="searchResults && searchResults.length > 0">
        <li *ngFor="let result of searchResults">
          <div
            class="container-name-avatar"
            *ngIf="isUser(result)"
            (click)="openDirectMessage(result.id, currentUser)"
          >
            <img src="{{ result.avatar }}" alt="" />
            <p>{{ result.name }}</p>
          </div>

          <div
            class="container-name-avatar"
            *ngIf="!isUser(result)"
            (click)="openChannel(result.id)"
          >
            <p>{{ result.name }}</p>
          </div>
        </li>
      </ul>
    </div>
  </header>

  <div class="header-post-input-container" *ngIf="channelSelected">
    <header>
      <div
        (click)="openChannelInfoDialog(selectedChannel.id)"
        class="channelName"
      >
        # {{ selectedChannel.name }}
      </div>

      <div class="members-and-button">
        <div
          class="channelMembers"
          *ngIf="channelSelected"
          (click)="openMembersDialog(selectedChannel.id, membersDialog)"
        >
          <!-- Profile pictures of channel members which are part of the group -->
          <ng-container *ngFor="let user of selectedChannel.users">
            <img src="{{ user.avatar }}" alt="" />
          </ng-container>
          <p #membersDialog>{{ userCount }}</p>
        </div>
        <button
          #addUserDialog
          (click)="
            openAddUserToChannelDialog(selectedChannel.id, addUserDialog)
          "
        >
          <img src="assets/images/icons/add_member.svg" />
        </button>
      </div>
    </header>

    <!-- Message Content  -->
    <div class="message-content" id="channel-message-content" #channelMessageContent>
      @if (selectedChannel.posts.length > 0) {
      <div *ngFor="let post of selectedChannel.posts; let index = index">
        <!-- Date line for messages -->
        @if (isNewDate(index, 'channel')) {
        <div class="date-line">
          <div class="Line">
            <span>{{ formatDate(post.timestamp) }}</span>
          </div>
        </div>
        }

        <!-- Post -->
        <app-post
          [post]="post"
          [currentUser]="currentUser"
          [selectedChannel]="selectedChannel"
          [indexPost]="index"
          [path]="'channels'"
          (openThread)="openThread(post)"
        >
        </app-post>
      </div>
      }

      <!-- Placeholder if no post is in channel -->
      @if (selectedChannel.posts.length === 0) {
      <div class="placeholderContainer" *ngIf="channelSelected">
        <h3>{{ selectedChannel.description }}</h3>
        <div>
          <span
            >Schreib etwas in die Gruppe {{ selectedChannel.name }} damit andere
            darauf reagieren.</span
          >
        </div>
      </div>
      }
    </div>

    <!-- Input Feld am unteren Rand des Containers -->
    <app-post-input
      class="post-input"
      [selectedChannel]="selectedChannel"
      [allUsers]="allUsers"
      [currentUser]="currentUser"
      [path]="'channels'"
    ></app-post-input>
  </div>

  <!-- Direct Message -->
  
  <div *ngIf="chatSelected" class="header-post-input-container">
    <!-- Header section with channel name and contact information -->
    <header *ngIf="chatSelected && !selectedDirectMessage.isPrivateMessage">
      <div class="channelName" *ngIf="selectedDirectMessage.users.length > 0">
        <div class="avatarName" (click)="openDetailViewDialog(otherUserDirectMessage)">
          <img
            class="user-avatar-image"
            src="{{ otherUserDirectMessage.avatar }}"
            alt=""
          />
          {{ otherUserDirectMessage.name }}
        </div>
      </div>
    </header>    
    <!-- Header section with channel name and contact information -->
    <header *ngIf="chatSelected && selectedDirectMessage.isPrivateMessage">
        <div class="channelNameNoPointer" *ngIf="selectedDirectMessage.users.length > 0">
          <div class="avatarNameNoHover">
            <img
              class="user-avatar-image"
              src="{{ currentUser.avatar }}"
              alt=""
            />
            {{ currentUser.name }} (Du)
          </div>
        </div>
      </header>

    <!-- Message Content  -->

    <div class="message-content"  id="direct-message-content" #directMessageContent>
      <!-- Date line for messages -->
      @if (selectedDirectMessage.posts.length > 0 &&
      selectedDirectMessage.users.length > 0) {
      <div *ngFor="let post of selectedDirectMessage.posts; let index = index">
        <!-- Date line for messages -->
        @if (isNewDate(index, "directMessage")) {
        <div class="date-line">
          <div class="Line">
            <span>{{ formatDate(post.timestamp) }}</span>
          </div>
        </div>
        }

        <!-- Post -->
        <app-post
          [post]="post"
          [currentUser]="currentUser"
          [selectedChannel]="selectedChannel"
          [selectedDirectMessageId]="selectedDirectMessage.id"
          [indexPost]="index"
          [path]="'directMessages'"
        >
        </app-post>
      </div>

      }

      <!-- Placeholder if no message is in channel -->

      <div
        class="placeholderContainer"
        *ngIf="
          chatSelected &&
          selectedDirectMessage &&
          selectedDirectMessage.posts.length === 0
        "
      >
        @if (!selectedDirectMessage.isPrivateMessage) {
        <div (click)="openDetailViewDialog(otherUserDirectMessage)" class="messageAvatarName">
          <img
            class="user-avatar-image"
            src="{{ otherUserDirectMessage.avatar }}"
            alt=""
          />
          <span>{{ otherUserDirectMessage.name }}</span>
        </div>

        <div>
          <p>
            Diese Unterhaltung findet nur zwischen
            {{ otherUserDirectMessage.name }} und dir statt.
          </p>
        </div>
        } @if (selectedDirectMessage.isPrivateMessage) {
        <div class="messageAvatarNameNoPointer">
          <img
            class="user-avatar-image"
            src="{{ currentUser.avatar }}"
            alt=""
          />
          <span>{{ currentUser.name }} (Du)</span>
        </div>

        <div>
          <p>
            Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine
            To-dos auf oder bewahre Links und Dateien griffbereit auf. Du kannst
            hier auch gerne Dinge mit dir selbst besprechen.
          </p>
        </div>
        }
      </div>
    </div>
    <!-- Input Feld am unteren Rand des Containers -->
    @if (chatSelected) {
    <app-post-input
      class="post-input"
      [selectedChannel]="selectedChannel"
      [selectedDirectMessage]="selectedDirectMessage"
      [allUsers]="allUsers"
      [currentUser]="currentUser"
      [path]="'directMessages'"
    ></app-post-input>
    }
  </div>
</main>
