/* Styling for the main content container */
#mainContent {
  max-height: 100vh;
  height: 95%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  overflow: hidden;
  a {
    cursor: pointer;
    &:hover {
      background-color: #0c0c0c0e;
      border-radius: 20px;
      border: none;
      display: flex;
      align-items: center;
    }
  }
}
.height-65vh {
  height: 65vh;
}

/* Styling for the header section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;

  /* Styling for the channel name */
  .channelName {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  /* Styling for the channel members */
  .channelMembers {
    width: fit-content;
    height: 40px;
    margin-right: 50px;
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    img {
      height: 30px;
      padding: 10px;
      margin-left: -30px;
      &:hover {
        background-color: #eceefe;
        border-radius: 30px;
      }
    }
  }
}

/* Styling for the input field */
.inputContent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  z-index: 2000;
}

/* Styling for the text area */
.textArea {
  height: 135px;
  width: 90%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  textarea {
    height: 80px;
    border: none;
    width: 90%;
    display: flex;
    align-items: flex-start;
    resize: none;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background: none;
    flex: 1;
    &:focus {
      border-color: transparent;
      outline: none;
    }
  }

  /* Styling for the icons */
  .icons {
    display: flex;
    height: 45px;
    align-items: start;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    .buttons {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .addIcon {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: none;
      border-bottom: none;
      border-left: none;
      cursor: pointer;
      background-color: none;
      margin-right: 5px;
    }
  }
}

/* Styling for the message content */
.message-content {
  height: 53vh; /* Mindesthöhe auf 50% der Bildschirmhöhe setzen */
  padding-top: 20px;
  width: 100%;
  overflow-y: scroll;
  /* Styling for the line separator */
  .dateLine {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Line {
    width: 95%;
    background-color: #eceefe;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      z-index: 2;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 2px solid #eceefe;
      border-radius: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/* Styling for individual messages */
.message {
  display: flex;
  max-width: 97%;
  padding: 20px;
  height: 141px;
  align-items: center;

  img {
    height: 70px;
    width: 70px;
  }

  /* Styling for the message text */
  .message-text {
    width: fit-content;
    background-color: #eceefe;
    height: 35px;
    border-radius: 0px 30px 30px 30px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /* Styling for the message name */
  .message-name {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
  }

  /* Styling for the message details */
  .message-details {
    margin-top: 10px;
    display: flex;
    width: fit-content;
    gap: 20px;
    a {
      color: blue;
      text-decoration: none;
      font-weight: 550;
    }
    span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.425);
    }
  }

  /* Styling for the message container */
  .message-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 110px;
    padding: 10px;
    gap: 30px;
    height: fit-content;

    &:hover {
      background-color: #eceefe;
      width: 100%;
      .message-text {
        background-color: white;
      }
    }
  }
}
.avatarName {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  img {
    max-height: 70px;
  }
}
.placeholderContainer {
  margin-left: 50px;
  width: 80%;
  position: fixed;
  bottom: 30%;
  img {
    height: 100px;
    margin-right: 5px;
  }
  span {
    font-weight: 700;
    font-size: 20px;
  }
  p {
    color: grey;
    font-size: 14px;
  }
  .messageAvatarName {
    margin-bottom: 5px;
  }
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.emoji {
  margin-right: 10px;
  margin-bottom: 5px;
  width: calc((100% / 3) - 10px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

cdk-overlay-connected-position-bounding-box {
  border-radius: 30px;
  height: fit-content;
}
.link-container {
  display: flex;
  width: fit-content;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.links {
  td {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    img {
      height: 40px;
    }
  }
}

.mdc-button {
  min-width: 10px;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: #0c0c0c02;

    border-radius: 20px;
    border: none;
  }
}

.link-emojis {
  margin-top: 5px;
}

.seperator {
  height: 30px;
  width: 1px;
  background-color: black;
}

.newMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: 150px;
  span {
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;
  }
  input {
    width: 80%;
    margin-left: 50px;
    border-radius: 30px;
    height: 45px;
    border: 1px solid #eceefe;
    padding-left: 20px;
    font-size: 18px;
    background-color: none;
  }
}

.documents-container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 8px;

  .document {
    background-color: rgb(165 165 165 / 24%);
    border-radius: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 4px 16px;

    &:hover {
      background-color: rgb(165 165 165 / 40%);
      cursor: pointer;
    }
  }
}

@media (min-height: 1050px) {
  .message-content {
    min-height: 56vh; /* Setzt die Mindesthöhe auf 1000px, wenn die Höhe des Viewports mindestens 1000px beträgt */
  }
}

@media (max-width: 580px) {
  .newMessage {
    span{
      margin-left: 30px;
    }
    input {
    margin-left: 30px;
    }
    input::placeholder {
      color: transparent;
    }
  }
}

// .message-container {
//   display: flex;
//   align-items: flex-start;
// }

// .message-container.my-message {
//   flex-direction: row-reverse;
//   text-align: right;
// }

// .message-container.my-message .message-box {
//   background-color: #e0f7fa; /* Beispielhintergrund für eigene Nachrichten */
// }

// .message-container.my-message img {
//   margin-left: 10px;
//   margin-right: 0;
// }

// .message-box {
//   padding: 10px;
//   border-radius: 10px;
//   background-color: #f0f0f0; /* Beispielhintergrund für andere Nachrichten */
// }

// .message-details {
//   font-size: 0.8em;
//   color: #666;
// }
.newMessage ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: rgb(85, 189, 189);
  height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

.newMessage li {
  padding: 8px;
  cursor: pointer;
}

.newMessage li:hover {
  background-color: #f0f0f0;
}
