<div class="card-container">
  <div class="card">
    <h1>Anmeldung</h1>
    <span>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </span>
    <div class="input-section">
      <input
        type="email"
        placeholder="beispielname@email.com"
        class="input-email"
      />
      <input type="password" placeholder="Passwort" class="input-password" />
    </div>
    <p class="forgot-password">Passwort vergessen?</p>

    <div class="or">
      <div class="line"></div>
      <p>ODER</p>
      <div class="line"></div>
    </div>

    <button class="button-google">
      <img src="assets/images/icons/google.svg" alt="" /> Anmelden mit Google
    </button>

    <div class="buttons-login">
      <button class="button-login">Anmelden</button>
      <button class="button-guest">Gäste-Login</button>
    </div>
  </div>
  <div class="legal">
    <button class="button-imprint">Impressum</button>
    <button class="button-privacy-policy">Datenschutz</button>
  </div>
</div>
