@import "./../../../styles.scss";

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  background-color: $background;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  border-radius: 30px;
  padding: 50px;
  box-sizing: border-box;
  background-color: white;
  margin: 30px 0;

  span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  input {
    background-color: $background;
    border: none;
    border-radius: 100px;
    height: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: black;

    &::placeholder {
      color: $text-gray;
    }
  }
}

.input-email {
  background: url(./../../../assets/images/icons/mail.svg) no-repeat 28px 17px;
  padding-left: 80px;
  box-sizing: border-box;
}

.input-password {
  background: url(./../../../assets/images/icons/lock.svg) no-repeat 28px 17px;
  padding-left: 80px;
  box-sizing: border-box;
}

.forgot-password {
  color: $purple2;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 25px;
  transition: 75ms ease-in-out;

  &:hover {
    background-color: $background;
    color: $purple1;
    font-weight: 500;
    transition: 75ms ease-in-out;
  }
}

.or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .line {
    height: 1px;
    background-color: $light-purple-lines;
    width: 42%;
  }
}

button {
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 18px;
  line-height: 24.55px;
  cursor: pointer;
}

.button-google {
  width: 100%;
  border: none;
  color: $purple1;
  transition: 75ms ease-in-out;
  border: 1px solid transparent;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &:hover {
    border: 1px solid $purple1;
    transition: 75ms ease-in-out;
  }
}

.buttons-login {
  display: flex;
  gap: 30px;

  .button-login {
    background-color: $purple1;
    color: white;
    border: none;
    transition: 75ms ease-in-out;
    font-weight: 700;

    &:hover {
      opacity: 0.5;
      transition: 75ms ease-in-out;
    }
  }

  .button-guest {
    border: 1px solid $purple2;
    color: $purple2;
    background-color: white;
    transition: 75ms ease-in-out;
    font-weight: 700;

    &:hover {
      background-color: $purple2;
      color: white;
      transition: 75ms ease-in-out;
    }
  }
}

.legal {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;

  button {
    border: none;
    background-color: transparent;
    color: $purple2;
    border: 1px solid transparent;
    transition: 75ms ease-in-out;

    &:hover {
      border: 1px solid $text-gray;
      transition: 75ms ease-in-out;
    }
  }
}
