@import "./../../../styles.scss";

mat-card {
    width: 308px;
    border-radius: 0px 30px 30px 30px;
    font-family: 'Nunito';
}

mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.74px;
}