@import "./../../../../styles.scss";

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  background-color: $background;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  border-radius: 30px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: white;
  margin: 30px 0;
  max-width: 700px;

  span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.title {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;

  img {
    position: absolute;
    left: -50px;
    top: 12px;
    padding: 5px;
    border-radius: 50%;
    transition: 75ms ease-in-out;

    &:hover {
      background-color: $background;
      transition: 75ms ease-in-out;
      cursor: pointer;
    }
  }
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  input {
    background-color: $background;
    border: none;
    border-radius: 100px;
    height: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: black;

    &::placeholder {
      color: $text-gray;
    }
  }
}

.input-email {
  background: url(./../../../../assets/images/icons/mail.svg) no-repeat 28px 17px;
  padding-left: 80px;
  box-sizing: border-box;
}

.text-reset-password {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: $text-gray;
  text-align: center;
}

button {
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 18px;
  line-height: 24.55px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .button-send-mail {
    background-color: $text-gray;
    color: white;
    border: none;
    transition: 75ms ease-in-out;
    font-weight: 700;

    &:hover {
      opacity: 0.5;
      transition: 75ms ease-in-out;
    }
  }

  .enable-button {
    background-color: $purple1;
  }
}

.legal {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 36px;

  button {
    border: none;
    background-color: transparent;
    color: $purple2;
    border: 1px solid transparent;
    transition: 75ms ease-in-out;

    &:hover {
      border: 1px solid $text-gray;
      transition: 75ms ease-in-out;
    }
  }
}

.invalid-feedback {
  color: red;
}
