<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <div>
                    <p>Mitglieder</p>
                    <button mat-icon-button>
                        <img src="./../../../assets/images/icons/close.svg">
                    </button>
                </div>
            </div>
            <div class="members">
                <div class="single-member"><img src="./../../../assets/images/avatars/avatar_3.svg"><div></div>Frederik Beck (Du)</div>
                <div class="single-member"><img src="./../../../assets/images/avatars/avatar_5.svg"><div></div>Sofia Müller</div>
                <div class="single-member"><img src="./../../../assets/images/avatars/avatar_6.svg"><div></div>Noah Braun</div>
            </div>
            <button class="add-member" routerLink="/addUserToChannel">
                <div><img src="./../../../assets/images/icons/add_member.svg"></div>Mitglieder hinzufügen
            </button>
        </mat-card-content>
    </mat-card>
</section>