<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <div>
                    <p>Channel erstellen</p>
                    <button mat-icon-button>
                        <img src="./../../../assets/images/icons/close.svg">
                    </button>
                </div>
                <span>
                    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein
                        #marketing zum Beispiel.</p>
                </span>
            </div>
            <form>
                <div class="input-container">
                    <p><b>Channel-Name</b></p>
                    <input placeholder="z.B Kooperationsprojekte" class="input-channel">
                    <p><b>Beschreibung</b> (optional)</p>
                    <input placeholder="Dein Text hier">
                </div>
                <div class="button-container">
                    <div class="message-button">
                        <button>Erstellen</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>