<div class="card-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="title">
        <div routerLink="/login">
          <img src="assets/images/icons/arrow_back.svg" alt="" />
        </div>
        <h1>Wähle deinen Avatar</h1>
      </div>

      <img class="profile-image" src="assets/images/avatars/profile.svg" alt="">

      <span class="name-user"> Frederik Beck </span>

      <p class="text-choose-from-list">Aus der Liste wählen</p>

      <div class="images-avatars">
        <img src="./../../../assets/images/avatars/avatar_1.svg" alt="">
        <img src="./../../../assets/images/avatars/avatar_2.svg" alt="">
        <img src="./../../../assets/images/avatars/avatar_3.svg" alt="">
        <img src="./../../../assets/images/avatars/avatar_4.svg" alt="">
        <img src="./../../../assets/images/avatars/avatar_5.svg" alt="">
        <img src="./../../../assets/images/avatars/avatar_6.svg" alt="">
      </div>

      <div class="upload-image">
        <p>eigenes Bild verwenden</p>
        <button class="button-upload-image" type="button">Datei hochladen</button>

      </div>

      <div class="button">
        <button class="button-forward" type="submit">Weiter</button>
      </div>
    </div>
    <div class="legal">
      <button class="button-imprint">Impressum</button>
      <button class="button-privacy-policy">Datenschutz</button>
    </div>
  </form>
</div>
