<div class="card-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="title">
        <div routerLink="/register">
          <img src="assets/images/icons/arrow_back.svg" alt="" />
        </div>
        <h1>Wähle deinen Avatar</h1>
      </div>

      <img class="profile-image" src="{{ selectedAvatar }}" alt="" />

      <span class="name-user"> Frederik Beck </span>

      <p class="text-choose-from-list">Aus der Liste wählen</p>

      <div class="images-avatars">
        <img src="assets/images/avatars/avatar_1.svg" alt="" (click)="setAvatar('assets/images/avatars/avatar_1.svg')"/>
        <img src="assets/images/avatars/avatar_2.svg" alt="" (click)="setAvatar('assets/images/avatars/avatar_2.svg')"/>
        <img src="assets/images/avatars/avatar_3.svg" alt="" (click)="setAvatar('assets/images/avatars/avatar_3.svg')"/>
        <img src="assets/images/avatars/avatar_4.svg" alt="" (click)="setAvatar('assets/images/avatars/avatar_4.svg')"/>
        <img src="assets/images/avatars/avatar_5.svg" alt="" (click)="setAvatar('assets/images/avatars/avatar_5.svg')"/>
        <img src="assets/images/avatars/avatar_6.svg" alt="" (click)="setAvatar('assets/images/avatars/avatar_6.svg')"/>
      </div>

      <div class="upload-image">
        <p>eigenes Bild verwenden</p>
        <button class="button-upload-image" type="button">
          Datei hochladen
        </button>
      </div>

      <div class="button">
        <button class="button-forward" type="submit">Weiter</button>
      </div>
    </div>
    <div class="legal">
      <button class="button-imprint">Impressum</button>
      <button class="button-privacy-policy">Datenschutz</button>
    </div>
  </form>
</div>
