//variables

$purple1: #444df2;
$purple2: #797ef3;
$background: #eceefe;
$text-gray: #686868;
$light-purple-lines: #ADB0D9;

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-login {
  flex: 1;
}

h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 55.2px;
  text-align: center;
  color: $purple1;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  margin: 0;
}
