<!-- Aside element conditionally rendered based on 'comments' property -->
<aside *ngIf="comments">
  <!-- Container for the thread -->
  <div id="thread">
    <!-- Thread content -->
    <div class="thread-content">
      <!-- Header of the thread -->
      <div class="head-thread">
        <div class="head-thread-text">
          <span>Thread</span>
          <span class="thread-name"># {{ selectedThread.name }}</span>
        </div>

        <button (click)="closeThread()">
          <img src="assets/images/icons/close.svg" alt="" />
        </button>
      </div>

      <!-- Individual message within the thread -->
      <div class="message-content">
        @for (post of selectedThread.posts | slice:0:1; track post) {
        <app-post
          [post]="selectedThread.posts[0]"
          [currentUserId]="currentUser.id"
        ></app-post>

        } @if (selectedThread.posts.length > 0) {

        <!-- Details and actions for the message -->
        <div class="message-details">
          <!-- Link to reply to the message -->
          <div class="number-answers">
            {{ selectedThread.posts.length - 1 }} Antworten
          </div>
          <div class="line-answer"></div>
        </div>

        @for (post of selectedThread.posts | slice:1; track post;) {
        <app-post [post]="post" [currentUserId]="currentUser.id"></app-post>
        } }
      </div>
      <app-post-input
        class="post-input"
        [selectedChannel]="selectedChannel"
        [allUsers]="allUsers"
        [currentUser]="currentUser"
        [selectedThread]="selectedThread"
        [path]="'threads'"
      ></app-post-input>
    </div>
  </div>
</aside>
