/* Set height of the aside element */
aside {
  max-height: 100%;
}

/* Styling for the thread container */
#thread {
  height: 85.5vh;
  background-color: white;
  width: 435px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* height thread container */
.thread-content {
  height: auto;
}

/* Header styling for the thread */
.head-thread {
  padding: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 88px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  width: 97%;
  gap: 5px;
  span {
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

/* Input section styling */
.inputContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

/* Text area styling */
.textArea {
  height: 135px;
  width: 85%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  textarea {
    height: 80px;
    border: none;
    max-width: 85%;
    display: flex;
    align-items: flex-start;
    resize: none;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    &:focus {
      border-color: transparent;
      outline: none;
    }
  }
  .icons {
    display: flex;
    height: 45px;
    align-items: start;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    .buttons {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .addIcon {
      height: 30px;
      display: flex;
      align-items: center;
      border-right: 1px solid black; /* Nur rechter Rand */
      border-top: none;
      border-bottom: none;
      border-left: none;
    }
  }
}

/* Styling for individual messages */
.message {
  display: flex;
  max-width: 100%;
  width: 398px;
  // background-color: aqua;
  padding: 20px;
  height: 141px;
  align-items: center;
  flex-direction: column;
  img {
    height: 70px;
    width: 70px;
  }
  .message-text {
    width: fit-content;
    background-color: #eceefe;
    min-height: 35px;
    border-radius: 0px 30px 30px 30px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .message-name {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    .second-span {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .message-details {
    margin-top: 10px;
    display: flex;
    width: fit-content;
    gap: 20px;
    width: 100%;
    align-items: center;
    a {
      color: rgba(0, 0, 255, 0.288);
      text-decoration: none;
      font-weight: 550;
    }
    .line-antwort {
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 255, 0.288);
    }
  }
  .message-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 110px;
    padding: 10px;
    gap: 30px;
    // background-color: brown;
    &:hover {
      background-color: #eceefe;

      .message-text {
        background-color: white;
      }
    }
  }
}


.emoji-container {
  display: flex; /* Verwendet Flexbox */
  flex-wrap: wrap; /* Zeilenumbruch, wenn der Platz nicht ausreicht */
}

.emoji {
  margin-right: 10px; /* Abstand zwischen den Emojis */
  margin-bottom: 5px; /* Abstand zwischen den Zeilen */
}


cdk-overlay-connected-position-bounding-box {
  border-radius: 30px;
  height: fit-content;

}
.link-container {
  display: flex; /* Verwendet Flexbox */
width: fit-content;
padding: 10px;
align-items: center;
justify-content: center;
}

.links {
  // margin-right: 10px; /* Abstand zwischen den Emojis */
  // margin-bottom: 5px; /* Abstand zwischen den Zeilen */
  td{
    width: 100%;
    padding: 10px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    cursor: pointer;
    &:hover{
background-color: #eceefe;
// padding: 10px;
    }
    img{
      height: 40px;
    }
  }
}


.mdc-button{
  min-width: 10px;
  width: 40px;
  height: 40px;
}