<div class="card-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="title">
        <div routerLink="">
          <img src="assets/images/icons/arrow_back.svg" alt="" />
        </div>

        <h1>Passwort zurücksetzen</h1>
      </div>

      <span> Bitte geben Sie Ihre E-Mail-Adresse ein. </span>

      <div class="input-section">
        <div>
          <input
            type="text"
            formControlName="email"
            class="input-email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            placeholder="beispielname@email.com"
          />
          @if (submitted && f['email'].errors) {
          <div class="invalid-feedback">
            @if (f['email'].errors['required']) {
            <div>Email-Adresse wird benötigt.</div>
            } @if (f['email'].errors['email']) {
            <div>Email-Adresse ist ungültig.</div>
            }
          </div>
          }
        </div>
      </div>

      <span class="text-reset-password">
        Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
      </span>

      <div class="button">
        <button
          class="button-send-mail"
          type="submit"
          [ngClass]="{ 'enable-button': form.valid }"
        >
          E-Mail senden
        </button>
      </div>
    </div>
    <div class="legal">
      <button class="button-imprint">Impressum</button>
      <button class="button-privacy-policy">Datenschutz</button>
    </div>
  </form>
</div>
